.post {
	border-bottom: solid $color__border 1px;
	padding: 0 0 1.5rem;
}

.sticky {
	display: block;
}


.post,
.page {
	margin: 0 0 3em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
