.site {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0 auto;
	max-width: 80rem;

}

.site-header {
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	max-width: 80rem;

	.site-branding {
		margin-bottom: 1rem;
		p {
			margin: 0;
		}
	}
}

.site-branding {
	display: grid;
	grid-template-columns: fit-content(4rem) auto;
	grid-template-rows: 1.3rem fit-content(1.7rem);
	grid-template-areas:
		"logo title"
		"logo description";

	.custom-logo-link {
		grid-area: logo;
		img {
			padding-right: 1rem;

		}
	}

	.site-title {
		grid-area: title;

	}

	.site-description {
		grid-area: description;
		font-style: italic;
		opacity: 0.5;
	}

}



.site-title {
	&, a {
		font-family: "Montserrat", sans-serif;
		font-size: 1.2rem;
		text-decoration: none;
		font-weight: bold;
		color: $color__text-main;
	}
}

.site-body { /* wrapper class for site-main and widget-area */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	max-width: 80rem;
}

.site-main {
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	max-width: 42rem;
}

.widget-area {
	max-width: 18rem;
}

.site-footer {
	border-top: solid #ddd 2px;
	padding: 1rem 2rem;

	.site-footer-top {

	}

	.site-footer-bottom {
		display: flex;
		justify-content: space-between;

	}

}

@import "no-sidebar";
