// stylelint-disable value-keyword-case
$font__header: "Montserrat", sans-serif;
$font__subheader: "Istok Web", sans-serif;
$font__main: "Noto Sans", sans-serif;
// stylelint-enable value-keyword-case
$font__code: "Ubuntu Mono", monospace;
$font__pre: "Ubunutu Mono", monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
