input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 2px solid $color__border-input;
	border-radius: 0.2rem;
	margin: 0.1rem auto 0.6rem auto;
	padding: 0.5rem;
	width: 100%;
	line-height: 1.5rem;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
}

fieldset {
	display: grid;
	width: 30rem;
	max-width: 95%;
}

label {
	font-weight: bold;

}
